    /*
    BODY: Freight book 20pt
    HEADLINE: Roboto black italic 30pt
    LABELS: Roboto medium 10/11pt
    */

    /* COLORS */
    .red {
        fill: #f78056;
        color: #f78056;
    }

    .liteGray {
        fill: #b3b3b3;
        color: #b3b3b3;
    }

    .darkGray {
        fill: #404040;
        color: #404040;
    }

    .black {
        fill: #0f0f0f;
        color: #0f0f0f;
    }

    .offWhiteText {
        fill: #f2f2f2;
        color: #f2f2f2;
    }

    .offWhiteTitle {
        fill: #e6e6e6;
        color: #e6e6e6;
    }

    .darkText {
        fill: #0f0f0f;
        color: #0f0f0f;
    }

    .blackbg {
        background: #0f0f0f;
    }

    .whitebg {
        background: #f2f2f2;
    }

    /* GLOBAL STYLES */

    body {
        font-family: Roboto, sans-serif;
    }

    svg {
        overflow: visible;
    }

    h1 {
      font-family : Roboto;
      font-weight: 900;
      font-style : italic;
      font-size : 30px;
      letter-spacing : 1.8px;
      text-transform : uppercase;
      width: 40%;
      min-width: 400px;
      margin: 60px auto 40px auto;
      text-align: center;
    }

    p {
      font-family: freight-text-pro, serif;
      font-style: normal;
      font-weight: 400;
      font-size : 20px;
      line-height : 30px;
      width: 40%;
      min-width: 400px;
      margin: 0 auto 80px auto;
    }

    .hidden {
        display: none;
    }

    /* ALL RACES CHART */

    .finishers {
        fill: #f78056;
    }

    .dnf {
        fill: #cccccc;
    }

    .year {
        fill: #b3b3b3;
        font-size: 10;
    }

    .sYear {
        fill: #f78056;
    }

    svg.speed {
        position: absolute;
        top: 0;
        right: 0;
    }

    svg.bars {
        position: absolute;
        top: 0;
        left: 0;
    }

    .speeds .tick line {
        stroke: #404040;
    }

    .speeds .tick text {
        fill: #f2f2f2;
    }

    #allRacesChart {
      margin: 0 auto;
      width: 1100px;
      position: relative;
    }

    #allRacesChart .label {
      font-size: 10;
      text-transform: uppercase;
    }

    /* 'THE GREATS' CHART */

    #theGreatsChart {
      margin: 0 auto 10em auto;
      width: 1100px;
      position: relative;
    }

    .riderName {
      font-size: 10;
    }

    .line {
      fill: none;
      stroke: #f78056; /*#0f0f0f */
      stroke-width: 1px;
      opacity: .5;
    }

    .arc {
      opacity: .8;
      cursor: pointer;
    }

    .riderDetail {
      width: 205px;
      height: auto;
      position: absolute;
      background-color: white;
      padding: 10px;
    }

    #theGreatsChart .y.axis path {
      display: none;
    }
